<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bolnišnica</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <style>
    /* Dodatni stili za izboljšanje videza */
    body {
      background-color: #f5f5f5;
    }

    .hero-body {
      padding: 2rem 1.5rem;
    }

    .subtitle {
      margin-top: 20px;
    }

    .footer {
      background-color: #363636;
      color: #fff;
      padding: 1.5rem 1rem;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  </style>
</head>

<body>
  <section class="hero is-small is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Bolnišnica
        </h1>
      </div>
    </div>
  </section>

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h2 class="title">
          Dobrodošli
        </h2>
        <div class="content">
          <p>V tej bolnišnici imamo različne zdravnike in paciente. Vsi se morajo najprej registrirati, nato pa se lahko
            tudi prijavijo. Če pacienta ali zdravnika ni v bazi, se ne more registrirati.</p>
        </div>
        <div class="columns is-centered">
          <div class="column is-narrow">
            <form method="GET" action="{{url('prijava')}}">
              <button class="button is-primary is-light is-medium">Vstopi</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  % if napaka:
  <div class="notification is-danger">
    <p>{{napaka}}</p>
  </div>
  % end

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Bolnišnica</strong> by <a href="https://github.com/matevzkusterle/OPB_hospital">Matevž Kusterle</a>.
      </p>
    </div>
  </footer>

</body>

</html>