%rebase('osnova.html', napaka=napaka, naslov='Dodajanje diagnoze uspešno', stran='dodajanje uspešno')

<section class="section">
  <div class="container">
    <div class="notification is-success">
      <button class="delete"></button>
      Dodajanje diagnoze je bilo uspešno!
    </div>

    <div class="columns">
      <div class="column is-narrow">
        <aside class="menu">
          <p class="menu-label">
            Nazaj
          </p>
          <ul class="menu-list">
            <li><a class="button btn-custom-green" href="{{url('pogled_zdravnik')}}">Nazaj</a></li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</section>