%rebase('osnova.html', napaka=napaka, naslov='Dodajanje diagnoze')

% if rola == 'Zdravnik':
<div class="form-container">
  <form action="{{url('dodaj_diagnozo_post')}}" method="POST">
    <div class="field">
      <label class="label" for="szz">SZZ</label>
      <div class="control">
        <input class="input" type="text" name="szz" placeholder="Vnesi SZZ pacienta">
      </div>
    </div>
    <div class="field">
      <label class="label" for="koda">Koda</label>
      <div class="control">
        <input class="input" type="text" name="koda" placeholder="Vnesi kodo diagnoze">
      </div>
    </div>
    <div class="field">
      <label class="label" for="diagnoza">Detajl</label>
      <div class="control">
        <input class="input" type="text" name="diagnoza" placeholder="Vnesi diagnozo">
      </div>
    </div>
    <div class="control">
      <button type="submit" class="button btn-custom-green">Dodaj</button>
    </div>
  </form>
</div>

%else:
<p>Nimaš dovoljenja za ogled te strani!</p>

%end

% if napaka:
<div class="notification is-danger">
  <p>{{napaka}}</p>
</div>
% end