%rebase('osnova.html', napaka=napaka, naslov='Dodajanje pacienta', stran='pacienti')

% if rola == 'Zdravnik':
<div class="container">
  <form action="{{url('dodaj_pacienta_post')}}" method="POST" class="form-container">
    <div class="field">
      <label class="label" for="ime">Ime</label>
      <div class="control">
        <input class="input" type="text" name="ime" id="ime" placeholder="Vnesi ime pacienta" required>
      </div>
    </div>
    <div class="field">
      <label class="label" for="priimek">Priimek</label>
      <div class="control">
        <input class="input" type="text" name="priimek" id="priimek" placeholder="Vnesi priimek pacienta" required>
      </div>
    </div>
    <div class="field">
      <label class="label" for="szz">Številka zdravstvenega zavarovanja</label>
      <div class="control">
        <input class="input" type="text" name="szz" id="szz"
          placeholder="Vnesi številko zdravstvenega zavarovanja pacienta" required>
      </div>
    </div>
    <div class="control">
      <button type="submit" class="button btn-custom-green">Dodaj</button>
    </div>
  </form>
</div>

%else:
<p>Nimaš dovoljenja za ogled te strani!</p>

%end

% if napaka:
<div class="notification is-danger">
  <p>{{napaka}}</p>
</div>
% end