%rebase('osnova.html', naslov='Moja specializacija', stran='specializacija')

<div >
    <div style="display: flex;">
    <div style="flex:1;">
      <table 
      data-toggle="table"
      data-sticky-header="false" 
      data-search="false"
      data-show-columns="false" 
      data-sortable="true"
      id="izdelki" 
      data-height="500" >
        <thead>
            <tr>
                <th>Ime</th>
                <th>Priimek</th>
                <th>Opis</th>  
             </tr>
        </thead>
     
      
        <tr>
           <td>{{specializacija.ime}}</td>
           <td>{{specializacija.priimek}}</td>
           <td>{{specializacija.opis}}</td>
           <!-- <td>
            <a href="url('izbrisi_izdelek', id=izdelek.id)"> izbriši</a>
           </td> -->
     
        </tr>
      %end
      </table>


    </div>

    </div>
   
</div>


  

  