%rebase('osnova.html', napaka=napaka, naslov='Pogled zdravnik', stran='pogled')

<div class="container">
  <div class="form-container">
    <form action="{{url('prikazi_moje_paciente')}}" method="GET">
      <button type="submit" class="button btn-custom-green btn-block">Prikaži moje paciente</button>
    </form>

    <form action="{{url('dodaj_pacienta')}}" method="GET">
      <button type="submit" class="button btn-custom-green btn-block">Dodaj pacienta</button>
    </form>

    <form action="{{url('dodaj_diagnozo')}}" method="GET">
      <button type="submit" class="button btn-custom-green btn-block">Dodaj diagnozo</button>
    </form>

    <form action="{{url('moja_specializacija')}}" method="GET">
      <button type="submit" class="button btn-custom-green btn-block">Moja specializacija</button>
    </form>
  </div>

  %if napaka:
  <p class="opozorilo">{{napaka}}</p>
  %end
</div>