%rebase('osnova.html', napaka=napaka, naslov='Moj pogled', stran='pogled')

<div class="container">
  <div class="form-container">
    <form action="{{url('moje_diagnoze')}}" method="GET">
      <button type="submit" class="button btn-custom-green btn-block">Prikaži moje diagnoze</button>
    </form>

    <form action="{{url('moji_podatki')}}" method="GET">
      <button type="submit" class="button btn-custom-green btn-block">Prikaži moje podatke</button>
    </form>


    %if napaka:
    <p class="opozorilo">{{napaka}}</p>
    %end
  </div>
</div>