%rebase('osnova.html', naslov='Moj pogled', stran='pogled')

<form action="{{url('prikazi_moje_paciente')}}" method="GET" style="width:60%">
    <button type="submit" class="btn btn-primary">Prikaži moje paciente</button>
  </form>

  <form action="{{url('dodaj_pacienta')}}" method="GET" style="width:60%">   
    <button type="submit" class="btn btn-primary">Dodaj pacienta</button>
  </form>

  <form action="{{url('moja_specializacija')}}" method="GET" style="width:60%">   
    <button type="submit" class="btn btn-primary">Moja specializacija</button>
  </form>

  <form action="{{url('odjava')}}" method="GET" style="width:60%">   
    <button type="submit" class="btn btn-primary">Odjava</button>
  </form>
  %if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end