%rebase('osnova.html', naslov='Seznam mojih pacientov z diagnozami', stran='pacienti')

<div class="container">
  <div class="table-container">
    <table data-toggle="table" data-sticky-header="true" data-search="true" data-show-columns="true"
      data-sortable="true" id="pacienti-diagnoze" data-height="500">
      <thead>
        <tr>
          <th>Ime</th>
          <th>Priimek</th>
          <th>Številka zdravstvenega zavarovanja</th>
          <th>Koda</th>
          <th>Detajli</th>
          <th>Aktivnost</th>
          <th>Spremeni aktivnost</th>
        </tr>
      </thead>
      <tbody>
        %for pacientt in pacienti_diag:
        <tr>
          <td>{{pacientt.ime}}</td>
          <td>{{pacientt.priimek}}</td>
          <td>{{pacientt.szz}}</td>
          <td>{{pacientt.koda}}</td>
          <td>{{pacientt.detajli}}</td>
          <td>{{pacientt.aktivnost}}</td>
          <td>
            <form action="{{url('update_aktivnost')}}" method="post" style="display: flex; align-items: center;">
              <input type="hidden" name="id" value="{{pacientt.id_diagnoza}}">
              <input type="hidden" name="aktivnost" value="{{ 'false' if pacientt.aktivnost else 'true' }}">
              <button type="submit" class="button is-primary is-small" style="margin-left: 10px;">
                %if pacientt.aktivnost:
                Deaktiviraj
                %else:
                Aktiviraj
                %end
              </button>
            </form>
          </td>
        </tr>
        %end
      </tbody>
    </table>
  </div>
</div>