%rebase('osnova.html', naslov='Seznam mojih pacientov z diagnozami', stran='pacienti')

<div>
  <div style="display: flex;">
    <div style="flex:1;">
      <table data-toggle="table" data-sticky-header="true" data-search="true" data-show-columns="true"
        data-sortable="true" id="izdelki" data-height="500">
        <thead>
          <tr>
            <th>Ime</th>
            <th>Priimek</th>
            <th>szz</th>
            <th>koda</th>
            <th>detajli</th>
            <th>aktivnost</th>
          </tr>
        </thead>

        %for pacientt in pacienti_diag:
        <tr>
          <td>{{pacientt.ime}}</td>
          <td>{{pacientt.priimek}}</td>
          <td>{{pacientt.szz}}</td>
          <td>{{pacientt.koda}}</td>
          <td>{{pacientt.detajli}}</td>
          <td>
            <form action="/update_aktivnost" method="post">
              <input type="hidden" name="id" value="{{pacientt.id_diagnoza}}">
              <select name="aktivnost">
                <option value="true" {{'selected' if pacientt.aktivnost else '' }}>Aktivna</option>
                <option value="false" {{'selected' if not pacientt.aktivnost else '' }}>Neaktivna</option>
              </select>
              <button type="submit">Posodobi</button>
            </form>
          </td>

          </td>
        </tr>
        %end

      </table>
    </div>
  </div>
</div>